.my-page {
    margin-top: 65px;
    margin-bottom: 80px;
    width: 100%;
    height: 100vh;
}

.mp-header {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

@media (max-width: 650px) {
    .mp-header{
        display: block;
    }

    .mp-header h1{
        width: fit-content;
        margin: 0 auto;
    }

    .mp-header nav{
        width: fit-content;
        margin: 0 auto;
    }
}

.mp-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.mp-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0.6rem;
    background-color: #EEEEEE;
    border-radius: 0.2rem;
}

.mp-nav-item:hover,
.mp-nav-item:focus {
    background-color: #bdbdbd;
}

.logoff {
    cursor: pointer;
}

