.login {
    margin-top: 65px;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

@media (max-width: 640px) {
    .logo{
        max-width: 0px;
        max-height: 0px;
    }
    .login {
        margin-bottom: 50px;
    }
    .form {
        width: 90%;
    }
}

@media (max-height: 540px) {
    .logo{
        max-width: 0px;
        max-height: 0px;
    }
    .login {
        margin-bottom: 300px;
    }
}

.logo {
    margin-right: 20px;
    width: 50%;
    height: 100vh;
    background: url('../../Assets/login.jpg') no-repeat 50%;
    background-size: cover;
}

.form {
    min-width: 40%;
    margin-right: 50px;
    margin: 25px 10px;
    display: block;
}

.title {
    font-family: 'Spectral', serif;
    font-size: 3rem;
    position: relative;
}

.title::after{
    content: '';
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fb1;
    position: absolute;
    z-index: -1;
    bottom: 12px;
    left: -6px;
    border-radius: 2px;
}

.anime-left{
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}

.form-btn {
    display: block;
    font-size: 1rem;
    cursor: pointer;
    background: #fb1;
    color: #764701;
    min-width: 8rem;
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    transition: .2s;
}

.form-btn:hover,
.form-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.form-btn:disabled{
    opacity: 75%;
    cursor: wait
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #eee;
    font-size: 1rem;
    border-radius: 3px;
    transition: .5s;
}

.form-input:hover,
.form-input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 0 0 1px #fb1, 0 0 0 4px #fea;
}

.lost-password {
    display: block;
    color: #666;
    width: max-content;
    padding: 0.5rem 0;
    margin: 25px 0;
    line-height: 1;
    cursor: pointer;
}

.lost-password::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #666;
    display: block;
}

.register {
    margin-top: 35px;
}

.register-title {
    font-family: 'Spectral', serif;
    font-size: 2rem;
    position: relative;
    margin-bottom: 15px;
}

.register-title::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 3.5rem;
    background-color: #ddd;
    position: absolute;
    z-index: -1;
    bottom: 3px;
    left: -4px;
    border-radius: 2px;
}

.register p {
    margin-bottom: 30px;
}

.form-link {
    font-size: 1rem;
    cursor: pointer;
    background: #fb1;
    color: #764701;
    min-width: 8rem;
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    transition: .2s;
}

.form-link:hover,
.form-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.form-link:disabled{
    opacity: 75%;
    cursor: wait
}

.msg-error {
    margin-top: 10px;
    color: red;
}