@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Spectral:wght@700&display=swap');

.App {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 10rem);
}

.App-body {
    flex: 1;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    height: max-content;
}

body {
    font-family: 'Nunito', 'Spectral', sans-serif, serif;
    color:#222222;
}

ul, ol, li {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
